.afgo-header  {
    margin-top: 5px;
}

.afgo-header > div
{
	margin-top: 1px;
}
.afgo-header a
{
	text-decoration: none;
}

small.extra-small {
    font-size: 75%;
}

.navbar-brand .icon-af {
    font-size: 20px;
    margin-top: -2px;
}

.navbar-brand {
    padding: 15px 17px;
}

.navbar-brand.active {
    background-color: #11b3e5 !important;
}

.navbar-flat .navbar-nav > .active > a,
.navbar-flat .navbar-nav > .active > a:focus {
    background-color: #11b3e5;
}

.navbar-flat .navbar-nav > .active > a:focus:hover {
    background-color: #f00;
}

.navbar-toggle {
    border: 0;
    padding: 18px 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
}

.navbar-toggle:focus {
    background-color: #051039;
}

.navbar-toggle:focus:hover {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}

.navbar-toggle:focus, .navbar-toggle:active {
    outline: 0 !important;
}

.navbar-collapse.in {
    overflow: hidden;
}

.dropdown.dropdown-fw .dropdown-menu {
    right: inherit;
    left: inherit;
    background-color: #051039;
    border-color: #051039;
}

.dropdown.dropdown-fw .dropdown-menu a {
    background-color: #051039;
    color: #fff;
}

.dropdown.dropdown-fw .dropdown-menu li > a:hover {
    background-color: #f00 !important;
    text-decoration: none;
}

.dropdown.dropdown-fw .dropdown-menu li.active > a {
    background-color: #11b3e5 !important;
}

.btn-lang.active {
    background-color: #051039 !important;
    border-color: #051039 !important;
}

.dropdown.dropdown-fw .dropdown-menu li.active > a:hover {
    background-color: #f00 !important;
}

span.logo-accent-flat {
    background-position: center;
    background-size: contain;
    width: 60px;
    height: 28px;
    margin-top: 5px;
}

.afgo-header > div:first-child > .app-title
{
	line-height: 47px;
	padding-left: 5px;
    position: relative;
    display: inline-block;
    padding-top: 8px;
}

.afgo-header > div:last-child
{
	line-height: 52px;
}

.airport-selector > .dropdown-menu {
	min-width: 100px;
}

.dropdown-menu li > a {
	cursor: pointer;
    cursor: hand;
}

.fontsize-x2 {
	font-size: 2em;
}

.fontsize-18 {
    font-size: 18px;
}

.fontsize-16 {
    font-size: 16px;
}

.fontsize-15 {
    font-size: 15px;
}

.fontsize-apptitle {
    font-size: 23px;
}

.afgo-menu-bar
{
	margin-bottom: 15px;
}

.table.table-without-striped-rows > tbody > tr:nth-child(odd),
.table.table-without-striped-rows > tbody > tr:nth-child(odd) td:nth-child(odd) ,
.table.table-without-striped-rows > tbody > tr:nth-child(even),
.table.table-without-striped-rows > tbody > tr:nth-child(even) td:nth-child(odd) {
    background-color: #ffffff;
}

.no-padding {
	padding: 0;
}

.no-x-padding {
	padding-left: 0;
    padding-right: 0;
}

.no-x-margin {
	margin-left: 0;
    margin-right: 0;
}

.no-margin {
	margin: 0;
}

.no-margin-imp {
	margin: 0 !important;
}

.relative {
    position: relative !important;
}

.preline {
    white-space: pre-line;
}

.title-button {
    padding-top:18px;
}

/* INPUT PLACEHOLDER COLOR */

input[type="text"],
input[type="tel"],
input[type="email"] {
	color: #051039 !important;
	font-weight: bold;
}

textarea {
	color: #051039 !important;
}

select {
	color: #051039 !important;
	font-weight: bold;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #888 !important;
	font-weight: normal !important;
	text-transform: none !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #888 !important;
	opacity: 1;
	font-weight: normal !important;
	text-transform: none !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #888 !important;
	opacity: 1;
	font-weight: normal !important;
	text-transform: none !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #888 !important;
	font-weight: normal !important;
	text-transform: none !important;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #888 !important;
	font-weight: normal !important;
	text-transform: none !important;
}

input[type=text]::-ms-clear {
   display: none;
}

/* Betty checkbox fix */

.radio, .checkbox {
    margin-top: 8px;
    margin-bottom: 8px;
}

.checkbox [type="checkbox"]:not(:checked) + label:after, .checkbox [type="checkbox"]:checked + label:after {
    font-size: 19px;
    content: "\f129";
    left: -3px;
}

.checkbox [type="checkbox"]:not(:checked) + label, .checkbox [type="checkbox"]:checked + label {
    line-height: 24px;   
}

.checkbox.half-marg {
    margin-top: 6px;
    margin-bottom: 4px;
}

.margin-right-15px{
	margin-right : 15px;
}

/** Betty Panel head icon position fix **/
.margin-bottom-2px{
	margin-bottom:2px;
}

.margin-bottom-5px{
	margin-bottom:5px;
}

/** Betty panel fix for IE11 **/
.panel-heading{
	margin-left:-1px;
	margin-top:-1px;
}

/** reset for AHL display **/
.ahl .form-group{
	margin-bottom:1px;
}
.ahl label{
	margin-bottom:2px;
}
.ahl .btn-lg{
	padding:6px 10px;
}
.ahl .nav > li > a{
	padding:10px 2px;
}

/** Responsive Design **/

@media (max-width: 767px) {

    .afgo-header > div:last-child {
        line-height: 45px;
    }

    .afgo-header > div:first-child > .app-title {
        line-height: 30px;
        padding-top: 0px;
    }

    .form-horizontal .control-label {
        padding-top: 7px;
    }

    .form-horizontal .form-control {
        margin-bottom: 10px;
    }

}